@font-face {
  font-family: "MuseoSansCyrl700";
  src: url("./fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot");
  src: url("./fonts/MuseoSansCyrl700/MuseoSansCyrl700.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl700/MuseoSansCyrl700.woff") format("woff"),
    url("./fonts/MuseoSansCyrl700/MuseoSansCyrl700.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "MuseoSansCyrl300";
  src: url("./fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot");
  src: url("./fonts/MuseoSansCyrl300/MuseoSansCyrl300.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl300/MuseoSansCyrl300.woff") format("woff"),
    url("./fonts/MuseoSansCyrl300/MuseoSansCyrl300.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "MuseoSansCyrl100";
  src: url("./fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot");
  src: url("./fonts/MuseoSansCyrl100/MuseoSansCyrl100.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/MuseoSansCyrl100/MuseoSansCyrl100.woff") format("woff"),
    url("./fonts/MuseoSansCyrl100/MuseoSansCyrl100.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
#root {
  font-family: "MuseoSansCyrl700", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.nav-link:hover {
  text-decoration: underline;
}
/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
